<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="biblioteca.backend.persistence.mybatisimpl.mappers.usuarioMapper">

    <select id="obtenerUsuarioxEmail" resultMap="usuarioResult">
        SELECT *
        FROM usuarios AS u
        WHERE u.correo = #{correo}
    </select>


    <resultMap id="usuarioResult" type="usuario">
        <result property="carnet" column="carnet"/>
        <result property="nombre" column="nombre"/>
        <result property="correo" column="correo"/>
        <result property="contraseña" column="contraseña"/>
        <result property="rol" column="rol"/>
        <result property="carrera" column="carrera"/>
    </resultMap>




</mapper>